src/logicApp/ConvertToWord/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Parse_JSON_queue_message": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerOutputs()?['body']?['contentData']",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "partition": {},
                            "description": {
                                "type": "string"
                            },
                            "privacyMode": {
                                "type": "string"
                            },
                            "state": {
                                "type": "string"
                            },
                            "accountId": {
                                "type": "string"
                            },
                            "id": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            },
                            "userName": {
                                "type": "string"
                            },
                            "created": {
                                "type": "string"
                            },
                            "isOwned": {
                                "type": "boolean"
                            },
                            "isEditable": {
                                "type": "boolean"
                            },
                            "isBase": {
                                "type": "boolean"
                            },
                            "durationInSeconds": {
                                "type": "integer"
                            },
                            "duration": {
                                "type": "string"
                            },
                            "summarizedInsights": {},
                            "videos": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "accountId": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "state": {
                                            "type": "string"
                                        },
                                        "moderationState": {
                                            "type": "string"
                                        },
                                        "reviewState": {
                                            "type": "string"
                                        },
                                        "privacyMode": {
                                            "type": "string"
                                        },
                                        "processingProgress": {
                                            "type": "string"
                                        },
                                        "failureCode": {
                                            "type": "string"
                                        },
                                        "failureMessage": {
                                            "type": "string"
                                        },
                                        "externalId": {},
                                        "externalUrl": {},
                                        "metadata": {},
                                        "insights": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                },
                                                "duration": {
                                                    "type": "string"
                                                },
                                                "sourceLanguage": {},
                                                "sourceLanguages": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "language": {},
                                                "languages": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "transcript": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "text": {
                                                                "type": "string"
                                                            },
                                                            "confidence": {
                                                                "type": "number"
                                                            },
                                                            "speakerId": {
                                                                "type": "integer"
                                                            },
                                                            "language": {
                                                                "type": "string"
                                                            },
                                                            "instances": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "adjustedStart": {
                                                                            "type": "string"
                                                                        },
                                                                        "adjustedEnd": {
                                                                            "type": "string"
                                                                        },
                                                                        "start": {
                                                                            "type": "string"
                                                                        },
                                                                        "end": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "adjustedStart",
                                                                        "adjustedEnd",
                                                                        "start",
                                                                        "end"
                                                                    ]
                                                                }
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "text",
                                                            "confidence",
                                                            "speakerId",
                                                            "language",
                                                            "instances"
                                                        ]
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "insights"
                                    ]
                                }
                            },
                            "videosRanges": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "videoId": {
                                            "type": "string"
                                        },
                                        "range": {
                                            "type": "object",
                                            "properties": {
                                                "start": {
                                                    "type": "string"
                                                },
                                                "end": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "videoId",
                                        "range"
                                    ]
                                }
                            }
                        }
                    }
                },
                "runAfter": {}
            },
            "Populate_Microsoft_Word_template_transcription": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "wordonlinebusiness"
                        }
                    },
                    "method": "post",
                    "body": {
                        "940878764": "@{body('Select_needed_elements')}@{body('Select_needed_elements')}@{body('Select_needed_elements')}@{body('Select_needed_elements')}@{body('Select_needed_elements')}@{body('Select_needed_elements')}@{body('Select_needed_elements')}"
                    },
                    "path": "/api/templates/getFile",
                    "queries": {
                        "source": "me",
                        "drive": "b!5uOSMwdCWEOG55ZKclXYhKKad8ISIzVJjQBG2PoLwIuO7FpL9WCWQ6gnjzhINA4m",
                        "file": "01MWOW7Y3GPQTWODJZTRCYON5ZL23HTWEF"
                    }
                },
                "runAfter": {
                    "Select_needed_elements": [
                        "Succeeded"
                    ]
                },
                "metadata": {
                    "01MWOW7Y3GPQTWODJZTRCYON5ZL23HTWEF": "/Template/TemplateTranscription.docx"
                }
            },
            "Uploads_Word_Document_to_Azure_Storage": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "containerName": "transcript",
                        "blobName": "@{body('Parse_JSON_queue_message')?['name']}.docx",
                        "content": "@body('Populate_Microsoft_Word_template_transcription')"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureBlob",
                        "operationId": "uploadBlob",
                        "serviceProviderId": "/serviceProviders/AzureBlob"
                    }
                },
                "runAfter": {
                    "Populate_Microsoft_Word_template_transcription": [
                        "Succeeded"
                    ]
                }
            },
            "Parse_JSON_first_video": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@first(body('Parse_JSON_queue_message')?['videos'])",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "insights": {
                                "type": "object",
                                "properties": {
                                    "version": {
                                        "type": "string"
                                    },
                                    "duration": {
                                        "type": "string"
                                    },
                                    "sourceLanguage": {},
                                    "sourceLanguages": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "language": {},
                                    "languages": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "transcript": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "text": {
                                                    "type": "string"
                                                },
                                                "confidence": {
                                                    "type": "number"
                                                },
                                                "speakerId": {
                                                    "type": "integer"
                                                },
                                                "language": {
                                                    "type": "string"
                                                },
                                                "instances": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "adjustedStart": {
                                                                "type": "string"
                                                            },
                                                            "adjustedEnd": {
                                                                "type": "string"
                                                            },
                                                            "start": {
                                                                "type": "string"
                                                            },
                                                            "end": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "adjustedStart",
                                                            "adjustedEnd",
                                                            "start",
                                                            "end"
                                                        ]
                                                    }
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "text",
                                                "confidence",
                                                "speakerId",
                                                "language",
                                                "instances"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "runAfter": {
                    "Parse_JSON_queue_message": [
                        "Succeeded"
                    ]
                }
            },
            "Select_needed_elements": {
                "type": "Select",
                "inputs": {
                    "from": "@body('Parse_JSON_first_video')?['insights']?['transcript']",
                    "select": {
                        "SpeakerId": "@item()?['speakerId']",
                        "Text": "@item()?['text']"
                    }
                },
                "runAfter": {
                    "Parse_JSON_first_video": [
                        "Succeeded"
                    ]
                }
            }
        },
        "triggers": {
            "When_messages_are_available_in_a_queue": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "queueName": "sbq-transcript",
                        "isSessionsEnabled": false
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "receiveQueueMessages",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "splitOn": "@triggerOutputs()?['body']"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}